{% extends "layouts.html" %}
{% load static %}
{% block content %}
<article>
    <div class="blogs left-box">
        <div class="whitebg lanmu"><i><img src="{% static 'images/newspic01.jpg' %}"></i>
            <div class="middle-inner">
                <h1>资讯列表</h1>
                <p>网站建设价格_企业网站建设方案_低费用的企业网站排名SEO技术搭建公司网站_cms网站程序模板定制让网站快速排名首页_《青于蓝》专业网站设计制作_打造企业官网排名竞争力</p>
                <ul class="lanmu-keywords">
                    <li>网站建设</li>
                    <li>企业网站</li>
                    <li>公司网站建设</li>
                    <li>网站建设报价</li>
                    <li>网站建设公司</li>
                </ul>
            </div>
        </div>
        <div class="clear blank"></div>
        <div class="blogs-box whitebg">
            <div class="news-title"><span class="hnav"> <a href="https://www.yangqq.com/qiyewangzhanmuban/">企业网站模板</a><a
                    href="https://www.yangqq.com/qiyewangzhanzhizuo/">企业网站制作</a></span>
                <h2>资讯列表</h2>
            </div>
            <div class="blogs-list">

                <ul>
                    {% for list in list %}
                    <li>
                        <h2><a href="{% url 'blog:show' list.id %}" title="{{ list.title }}">{{ list.title }}</a></h2>
                        {% if list.thumb %}
                        <i><a href="{% url 'blog:show' list.id %}"><img src="media/{{ list.thumb }}" srcset="media/{{ list.thumb }}" alt="{{ list.title }}"></a></i>
                        {% endif %}
                        <p>我的个人博客总共展示了三个版本，界面也经历了由“简单”到“复杂”再到“简单”，颜色从“色泽单一”到“五彩斑斓”再到“局部点缀”的过程。原来一年一个版本！而每次改版的契机都是被百度惩罚！界面不要频繁更换！好好检查代码，有没有冗余、结构有没有不合理的地方。</p>
                        <span date="{{ list.created_time|date:'Y年m月d日' }}">
                            {% for tag in list.tags.all %}
                            <a href="{% url 'blog:tags' tag.name %}">{{tag.name}}</a>
                            {% endfor %}
                        </span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="pagelist">
                {% if list.has_previous %}
                <a href="?page={{ list.previous_page_number }}" class="prev-page">上一页</a>&nbsp;
                {% else %}
                {% endif %}


                {% for num in list.paginator.page_range %}
                {% if num %}
                {% ifequal num list.number %}
                <a title="Total record" class="active">&nbsp;<b>{{ num }}</b> </a>&nbsp;&nbsp;&nbsp;<b>1</b>&nbsp;
                {% else %}
                <a href="?page={{ num }}">{{ num }}</a>&nbsp;
                {% endifequal %}
                {% else %}
                <a class="disabled"><span>...</span></a>
                {% endif %}
                {% endfor %}


                {% if list.has_next %}
                <a href="?page={{ list.next_page_number }}" class="next-page">下一页</a>&nbsp;
                {% else %}
                <a class="prev-page"></a>
                {% endif %}









            </div>
        </div>
    </div>
    <aside class="side-section right-box">
        <div class="whitebg tuijian">
            <h2 class="side-title">站长推荐</h2>
            <section class="topnews imgscale"><a href="/xd/23.html"><img src="{% static 'images/pic03.jpg' %}"><span>作为一个设计师,如果遭到质疑你是否能恪守自己的原则?</span></a>
            </section>
            <ul>
                <li><a href="/notice/29.html" title="双十一，阿里云特惠活动，快来领券啦" target="_blank"><i><img
                        src="{% static 'images/pic05.jpg' %}"></i>
                    <p>双十一，阿里云特惠活动，快来领券啦</p>
                </a></li>
            </ul>
        </div>
        <div class="blank clear"></div>
        <div class="whitebg paihang">
            <h2 class="side-title">点击排行</h2>
            <section class="topnews imgscale"><a href="/xd/23.html"><img src="{% static 'images/pic06.jpg' %}"><span>作为一个设计师,如果遭到质疑你是否能恪守自己的原则?</span></a>
            </section>
            <ul>
                <li><i></i><a href="" title="个人博客，属于我的小世界！" target="_blank">个人博客，属于我的小世界！</a></li>
            </ul>
        </div>
        <div class="blank clear"></div>
        <div class="whitebg cloud">
            <h2 class="side-title">标签云</h2>
            <ul>
                <a href="" target="_blank">打开</a>
            </ul>
        </div>
        <div class="ad ad-small">小图广告（320*140）</div>
        <div class="whitebg suiji">
            <h2 class="side-title">猜你喜欢</h2>
            <ul>
                <li><a target="_blank" href="">安静地做一个爱设计的女子</a></li>
            </ul>
        </div>
    </aside>
</article>
{% endblock %}