{% extends "layouts.html" %}
{% load static %}
{% block left-box %}
    <div class="left-box">
        <div class="whitebg">
            <div class="news-title">
                    <span class="weizhi">您现在的位置是：
                        <a href="/">首页</a>>
                        <a href="{% url 'blog:category' article.category.id %}">{{ article.category.name }}</a>>
                        <a href="/">图片内容页</a>
                    </span>
                <h2>{{ article.category.name }}</h2>
            </div>
            <div class="newstext-box">
                <h1 class="news-title-h1" title="{{ article.title }}">{{ article.title }}</h1>
                <div class="keywords">{% for keyword in article.keywords.all %}<a href="">{{ keyword }}</a>{% endfor %}
                </div>
                <div class="picview-other">
                    <span class="po-from">{{ article.user.username }}</span>
                    <span class="po-date">{{ article.created_time }}</span>
                    <span class="po-classname">{{ article.category.name }}</span>
                    <span class="po-view">{{ article.views }}</span>
                </div>
                <div class="smalltext"><i></i>{{ article.excerpt }}</div>
                <div class="newstext">{{ article.body|safe }}</div>
                <div class="diggit"><a href=""> 很赞哦！ </a>(<b id="diggnum">123</b>)</div>
                <div class="clear"></div>
                <div class="share">
                    <img src="">
                    <div class="share-text">
                        <p>扫描关注青于蓝微信公众号，第一时间获取网站模板更新动态</p>
                        <p>转载请说明来源于"青于蓝排名建站"</p>
                        <p>本文地址：<a href="{% url 'blog:show' article.id %}"
                                   target="_blank">{% url 'blog:show' article.id %}</a></p>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="info-pre-next">
                    <ul>
                        {% if next_article %}
                            <li>
                                <a href="{% url 'blog:show' next_article.pk %}"><i><em>上一篇</em><img
                                        src="{% static "img/pic02.jpg" %}"></i>
                                    <h2>{{ next_article }}</h2>
                                    <p>不知道自己以后还能不能继续干这一行</p>
                                </a>
                            </li>
                        {% else %}
                        {% endif %}
                        {% if previous_article %}
                            <li>
                                <a href="{% url 'blog:show' previous_article.pk %}"><i><em>下一篇</em><img
                                        src="{% static "img/pic03.jpg" %}"></i>
                                    <h2>{{ previous_article }}!</h2>
                                    <p>网页常见的布局有很多种,单列布局,</p>
                                </a>
                            </li>
                        {% else %}
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="clear blank"></div>
        <div class="otherlink whitebg">
            <div class="news-title">
                <h2>相关文章</h2>
            </div>
            <ul>
                <li><a target="_blank" href="">安静地做一个爱设计的女子</a></li>
            </ul>
        </div>
        <div class="ad ad-big"><a href="" target="_blank"><img
                src="https://www.yangqq.com/d/file/p/2018-12-29/8793672fca8dae2ce093aa46546f8e22.gif"></a></div>
        <div class="pinglun-box whitebg">
            <div class="news-title">
                <h2>文章评论</h2>
            </div>
            <div class="pinglun">
                <div id="plpost">
                    <p class="saying"><span><a href="/">共有5条评论</a></span>来说两句吧...</p>
                    <input name="username" type="text" class="pl-name" id="username" value="" size="16"
                           placeholder="用户名">
                    <input name="key" type="text" class="pl-yzm" size="16" placeholder="验证码">
                    <textarea name="saytext" rows="6" id="saytext"></textarea>
                    <input name="imageField" type="submit" value="提交">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block recommends_one %}
    <div class="side-tab">
        <ul id="sidetab">
            <li class="sidetab-current">站长推荐</li>
            <li>点击排行</li>
        </ul>
        <div id="sidetab-content">
            <section>
                <div class="tuijian">
                    <section class="topnews imgscale"><a href="/xd/23.html"><img
                            src="{% static "img/pic03.jpg" %}"><span>作为一个设计师,如果遭到质疑你是否能恪守自己的原则?</span></a>
                    </section>
                    <ul>
                        {% for one in recommends_one %}
                            <li><a href="{% url 'blog:show' one.id %}" title="{{ one.title }}"
                                   target="_blank">{% if one.thumb %}
                                <i><img src="{{ MEDIA_URL }}{{ one.thumb }}"></i>{% endif %}
                                <p>{{ one.title }}</p></a></li>
                        {% endfor %}
                    </ul>
                </div>
            </section>
            <section>
                <div class="paihang">
                    <section class="topnews imgscale"><a href="/xd/23.html"><img
                            src="{% static "img/pic06.jpg" %}"><span>作为一个设计师,如果遭到质疑你是否能恪守自己的原则?</span></a>
                    </section>
                    <ul>
                        {% for two in recommends_two %}
                            <li><i></i><a href="{% url 'blog:show' two.id %}" title="{{ two.title }}"
                                          target="_blank">{{ two.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </section>
        </div>
    </div>
{% endblock %}
{% block recommends_two %}{% endblock %}